.header {
    padding : 16px 8px 4px 24px;
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .page-header {
        flex-basis: 75%;
        display: flex;
        justify-content: space-between;
    }
    
    .heading {
        margin:0px;
    }
    .action-container {
        display: flex;
        align-items: center;    
        .action-icon {
            margin-left: 24px;
            height: 24px;
            width: 24px;
            cursor: pointer;
        }    
    }
    .profile-container {
        flex-basis: 25%;
        justify-content: flex-end;
        display: flex;
        align-items: center;
        img {
            margin-left: 16px;
            width: 56px;
            height: 56px;
        }
    }
    .input-component {
        border: none;
    }
    .hover-action {
        input {
            visibility: hidden;
            width: 0px;                
            transition: 0.3s all ease-in-out;
        }
        &:focus-within {
            input {
                visibility: visible;
                width: 200px;
            }            
        }
        &:hover {
            input {
                visibility: visible;
                width: 200px;
            }            
            border: 1px solid $hr_gray1;
        }
    }
}