// @import 'react-calendar/dist/Calendar.css';
@import 'react-day-picker/lib/style.css';

.calendar-conainer{
    background: $hr_white;
    border-radius: 24px;
    flex-basis: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
}


// .calendar-conainer {
//     border-radius: 24px;
//     .react-calendar {
//         .react-calendar__navigation {
            
//         }
//         max-width: 100%; 
//         background: white;
//         /* border: 1px solid #a0a096; */
//         font-family: Arial, Helvetica, sans-serif;
//         line-height: 1.125em;
//     }
// }

// .calendar-conainer .react-calendar {
//     // align-items: flex-end;
//     margin-left: 8px;
//     width: 275px;
//     max-width: 100%;
//     border-radius: 24px;
//     abbr {
//         text-decoration: none;
//     }
//     button {
//         border-radius: 24px;
//         padding-bottom: 12px;
//         padding-top: 12px;
//     }
// }